<template name="can_a0_test_pack_a">{{#if can "a0" "test-pack-a" }}can{{else}}can't{{/if}}</template>
<template name="can_b0_test_pack_a">{{#if can "b0" "test-pack-a" }}can{{else}}can't{{/if}}</template>
<template name="can_c0_test_pack_a">{{#if can "c0" "test-pack-a" }}can{{else}}can't{{/if}}</template>
<template name="can_a1_test_pack_a">{{#if can "a1" "test-pack-a" }}can{{else}}can't{{/if}}</template>
<template name="can_b1_test_pack_a">{{#if can "b1" "test-pack-a" }}can{{else}}can't{{/if}}</template>
<template name="can_c1_test_pack_a">{{#if can "c1" "test-pack-a" }}can{{else}}can't{{/if}}</template>

<template name="can_a0_test_pack_b">{{#if can "a0" "test-pack-b" }}can{{else}}can't{{/if}}</template>
<template name="can_b0_test_pack_b">{{#if can "b0" "test-pack-b" }}can{{else}}can't{{/if}}</template>
<template name="can_c0_test_pack_b">{{#if can "c0" "test-pack-b" }}can{{else}}can't{{/if}}</template>
<template name="can_a1_test_pack_b">{{#if can "a1" "test-pack-b" }}can{{else}}can't{{/if}}</template>
<template name="can_b1_test_pack_b">{{#if can "b1" "test-pack-b" }}can{{else}}can't{{/if}}</template>
<template name="can_c1_test_pack_b">{{#if can "c1" "test-pack-b" }}can{{else}}can't{{/if}}</template>
